body {
    background-color: #ccc;   
}

header h4 {
    color: orange;
    text-align: center;
}

table>thead>tr {
    background-color: #eaeaea;
    color: #333;
}

table>tbody>tr>td {
    background-color: #eaeaea;
    color: #333;
}

tbody>tr>td>h4 {
    font-size: 16px;
    color: blue
}
/* 
  Quick Lookup Guide
- Change font color     => color: red;
- Change font size      => font-size: 15px;
- Text align            => text-align: center
- Background color      => background-color: blue
- Select table header row as table>thead>tr { your properties go here }
*/
